*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: #2e2e2e;
    color: #fff;
}

button {
    user-select: none;
}

.main-container {
    width: 100%;
}

.content {
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.videobox {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
    background: black;
}

.local-vid,
.remote {
    position: absolute;
    left: 0;
    top: 0;
}

.local-vid {
    width: 80px;
    height: 80px;
    z-index: 3;
    background: #1d1d1d;
}

.remote {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.controls,
.user-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.webcam-controls,
.tabs {
    margin-bottom: 2rem;
}

.start {
    margin-right: 1.5rem;
}

.start,
.end {
    padding: .6rem 1rem;
    background: none;
    color: #eee;
    outline: none;
    border: none;
    border-radius: .7rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2),
                -5px -5px 5px rgba(255,255,255,.1);
    cursor: pointer;
    transition: all .3s ease;
}

.end {
    color: rgb(243, 73, 73);
}

.start:active,
.end:active {
    box-shadow: 1px 1px 2px rgba(0,0,0,.2),
                -1px -1px 2px rgba(255,255,255,.1);
}

.disabled {
    color: rgb(131, 131, 131);
    box-shadow: 1px 1px 2px rgba(0,0,0,.2),
                -1px -1px 2px rgba(255,255,255,.1);
    cursor: not-allowed;
}

.tabs {
    position: relative;
}

.tabs::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: .3rem;
    width: 70px;
    background: cyan;
    transition: all .3s ease;
}

.shift-line::after {
    left: calc(100% - 70px);
}

.make,
.join {
    background: none;
    outline: none;
    border: none;
    color: #eee;
    cursor: pointer;
    transition: color .3s ease;
}

.make {
    margin-right: 1.5rem;
    color: cyan;
}

.tab-pages {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.make-page,
.join-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    transition: transform .3s ease;
}

.join-page {
    transform: translateX(100%);
}

.shifted .make-page {
    transform: translateX(-100%);
}

.shifted .join-page {
    transform: translateX(0);
}

.instructions {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

iframe {
    height: 100px;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid rgb(158, 158, 158);
}

.copy,
.startCall {
    padding: .7rem 1.2rem;
    background: none;
    color: #eee; 
    outline: none;
    border: none;
    border-radius: .7rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2),
                -5px -5px 5px rgba(255,255,255,.1);
    cursor: pointer;
    transition: all .3s ease;
}

.copy:active,
.startCall:active {
    box-shadow: 1px 1px 2px rgba(0,0,0,.2),
                -1px -1px 2px rgba(255,255,255,.1);
}



@media (min-width: 768px) {
    .app-title {
        font-size: 2.3rem;
    }

    button {
        font-size: 1.4rem;
    }

    .start {
        margin-right: 2.7rem;
    }

    .webcam-controls,
    .tabs {
        margin-bottom: 2.7rem;
    }
}